<%-include("partials/header.ejs");-%>

<h1>About</h1>
<div class="about">
    
<p> Our website is dedicated to helping you maintain a daily journal and reap the benefits of regular writing practice. But who's behind the scenes, making it all happen?</p>
<p>Meet <b>Tilak Varma</b>, the founder and CEO of TRV developers, the online website building agency that created Daily Journal.
</p>
<p>At <b>TRV developers</b>, we believe that everyone should have access to high-quality, affordable website development services. That's why we specialize in creating custom websites that are tailored to your specific needs, goals, and preferences.
</p>
<p>So whether you're looking to build <b>a personal blog, an e-commerce store, or a professional portfolio</b>, TRV developers has the expertise, creativity, and passion to make it happen. Contact us today to learn more about our services and how we can help you build the website of your dreams!
</p>
</div>
<%-include("partials/footer.ejs");-%>