<%- include("partials/header.ejs");-%>
<h1>Please check your url.</h1>
<h3>Is this your correct parameter?</h3>
<h2>localHost:3000/post/<%=failedTitle%></h2>
<%- include("partials/footer.ejs");-%>
